# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

data = pd.read_csv(r"C:\Users\jjung\Documents\LaunchCode\eda-checkpoint\Balaji Fast Food Sales.csv")
df = pd.DataFrame(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [8]:
# i used this code from the studio on cleaning data!

#11% of transactions have no data type. Not sure if this is just missing info or if it means something more.
for col in df.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

order_id - 0%
date - 0%
item_name - 0%
item_type - 0%
item_price - 0%
quantity - 0%
transaction_amount - 0%
transaction_type - 11%
received_by - 0%
time_of_sale - 0%

In [12]:
# here i can see there are 107 transactions with null values.
df.isnull().sum()
# here's how i would drop these transactions. but for now I will keep them in the data set. 
#df.shape, df.dropna(), df.shape

((1000, 10),
      order_id        date        item_name  item_type  item_price  quantity  \
 1           2   8/23/2022          Vadapav   Fastfood          20        15
 2           3  11/20/2022          Vadapav   Fastfood          20         1
 3           4  02-03-2023  Sugarcane juice  Beverages          25         6
 4           5  10-02-2022  Sugarcane juice  Beverages          25         8
 5           6  11/14/2022          Vadapav   Fastfood          20        10
 ..        ...         ...              ...        ...         ...       ...
 991       992  10/21/2022         Sandwich   Fastfood          60         5
 992       993   7/17/2022          Frankie   Fastfood          50         3
 993       994  11-01-2022         Panipuri   Fastfood          20         2
 994       995   6/18/2022  Sugarcane juice  Beverages          25         1
 999      1000   5/29/2022         Aalopuri   Fastfood          20         3

      transaction_amount transaction_type received_by time_of_sale
 1                   300             Cash         Mr.    Afternoon
 2                    20             Cash         Mr.    Afternoon
 3                   150           Online         Mr.        Night
 4                   200           Online         Mr.      Evening
 5                   200             Cash         Mr.      Evening
 ..                  ...              ...         ...          ...
 991                 300             Cash         Mr.      Morning
 992                 150           Online        Mrs.        Night
 993                  40           Online        Mrs.      Evening
 994                  25           Online         Mr.        Night
 999                  60           Online        Mrs.     Midnight

 [893 rows x 10 columns],
 (1000, 10))

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [9]:
df.describe()

# this data is so uniform. there are not really any obvious outliers. I will adjust as needed if they come up.

          order_id   item_price     quantity  transaction_amount
count  1000.000000  1000.000000  1000.000000         1000.000000
mean    500.500000    33.315000     8.162000          275.230000
std     288.819436    14.921744     4.413075          204.402979
min       1.000000    20.000000     1.000000           20.000000
25%     250.750000    20.000000     4.000000          120.000000
50%     500.500000    25.000000     8.000000          240.000000
75%     750.250000    50.000000    12.000000          360.000000
max    1000.000000    60.000000    15.000000          900.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [13]:
# no data is unnecessary in an obvious way. The Mr. and Mrs. columns for received by is strange so I will replace those with M and F to clarify.

df['received_by'] = df['received_by'].replace(['Mr.', 'Mrs.'], ['M', 'F'])
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,M,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,M,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,M,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,M,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,M,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,F,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,M,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,M,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,F,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,F,Midnight

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [14]:
# let's check to see if order total is really equal to item price X quantity.

df['Calculated Total'] = df['item_price'] * df['quantity']

check_total = df['Calculated Total'] == df['transaction_amount']
check_total

#looks like the item price X the quantity really does equal the 'transaction_amount' the data is not lying!

0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Length: 1000, dtype: bool

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? I found missing data, unnecessary data, but no irregular or inconsistant data. 
2. Did the process of cleaning your data give you new insights into your dataset? Yes, It forced me to look at the numbers more closely. Worthwhile!
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? Yes, I have some new ideas to explore.